* {
    padding: 0px;
    margin: 0px;
    background-color: rgb(255, 248, 238);
    text-align: center;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

header {
    width: 100%;
    height: 100px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#players_table, #player_games {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

/* таблица игроков + */
#players_table {
    width: 60%;
    height: 250px;
}

#table {overflow-y: auto}
/*  */

/* таблица игр  +*/
#player_games {
    width: 60%;
    min-height: 300px;
}

#game_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

#game_list > .game_info {
    height: 75px;
    padding: 5px 10px;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 20px;
    align-items: stretch;

}
.game_info_cont {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.left, .right { margin: 0 10px }
.left > p{ 
    float: left;
    clear: left;
    color: grey; 
}
.left > h3 { float: left }
/*  */

/* таблица +- */
#table_cont {
    overflow-y: auto;
    border: 1px solid black;
    border-radius: 20px;
}
#table {
    display: table;
    width: 100%;
}
#th { display: table-header-group }
.th {
    display: table-cell;
    height: 50px;
    font-weight: bold;
    vertical-align: middle;
}
.rows { display: table-row; &:hover > * { background-color: tomato } }
.td {
    display: table-cell;
    height: 50px;
    vertical-align: middle;
}

.td:has(button) {
    width: 400px;
}

.th:not(:first-of-type), .td:not(:first-of-type) { 
    text-align: left ;
}
/*  */

/* нав бар + */
nav {
    margin: 5px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/*  */

/* кнопки + */
.big_btn {
    padding: 10px 25px;
    margin: 2px 3px;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Roboto;
    font-size: 150%;
    &:hover {
        background-color: rgb(230, 195, 183);
    }
    &:active {
        background-color: rgb(241, 252, 252);
    }
}
.small_btn {
    margin: 0 1px;
    padding: 1px 2px;
    border-radius: 5px;
    text-transform: uppercase;
}
.btnActive {
    background-color: moccasin;
}

/*  */

/* форма */
.form {
    width: auto;
    height: auto;
    padding: 2px;
    border-radius: 5px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
input {
    border-radius: 5px;
    &[type="text"]  {width: 100px }
}
/*  */

.hidden { display: none }
.visible {
    &:has(label) {
        display: block;
        position: absolute;
    }
    display: inline;
}
.radio_block {
    display: block;
}